<!DOCTYPE html>

<div>
  <ul class="students">
    <li *ngFor= "let student of students"
        (click)="onSelectedStudent(student)"
        [class.selected] = "student === selectedStudent">
      <span> {{ student.id }} </span> {{ student.name }}
    </li>
  </ul>
</div>







<div *ngIf='selectedStudent'>
  <h2>{{ selectedStudent.name }} details;</h2>
  <div>
    <div>{{ selectedStudent.id }}</div>
    <div class="">
      {{selectedStudent.gender}}
    </div>
    <div class="">
      {{selectedStudent.description}}
    </div>
    <div>
      <input type="text" name="" value="" [(ngModel)]='selectedStudent.name'>
      {{ selectedStudent.name }}
    </div>
  </div>
</div>
